<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  
  <main class="main">
    <%- include('partials/navbar.ejs') %>
    <!-- miolo da página -->
    <div class="text">

      <h1>Cadastro de Post</h1>
      <% if(cadastrado) { %>
        <h3>Cadastrado com sucesso!</h3>
      <% } %> 
      <form action="/salvar-post" method="post">
        <div>
          <label>Títulos</label>
          <input name="titulo" type="text" placeholder="Digite o Título">
        </div>
        <div>
          <label>Textos</label>
          <textarea name="texto"></textarea>
        </div>
        <div>
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/foot.ejs') %>
</body>
</html>