<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  
  <main class="main">
    <%- include('partials/navbar.ejs') %>
    <!-- miolo da página -->
    <div class="text">
      <h1>Contatos</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam tempore culpa obcaecati beatae natus similique incidunt magnam voluptatibus amet dolor voluptates qui minus quas, dolores alias voluptas perferendis ab porro!</p>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/foot.ejs') %>
</body>
</html>