<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  
  <main class="main">
    <%- include('partials/navbar.ejs') %>
    <!-- miolo da página -->
    <div class="text">
      <h1>Produtos</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, doloribus earum. Blanditiis exercitationem soluta rerum eum provident aliquam, nisi, quasi inventore explicabo libero voluptatum vel dolorem culpa harum, corporis numquam.</p>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/foot.ejs') %>
</body>
</html>