<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
<%- include('partials/header.ejs') %> 
  <main>
    <h1>Posts</h1>
    <% posts.forEach((item => { %>
      <div class="posts">
        <h3><%= item.title%></h3>
        <p><%= item.text%></p>
        <% if(item.stars) {%>
          <% for( let index = 0; index < item.stars; index++ ) { %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/2153px-Star_icon_stylized.svg.png" alt="Star Icon" width="20">
          <% } %>
        <%} %>
      </div>
    <%})) %>
  </main>
<%- include('partials/footer.ejs') %>
</body>
</html>